
body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    
font-family: 'Rubik', sans-serif;
}


body .btn-primary{
    background: #fff !important;
    border: #fff;
    color: #3763eb;
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    z-index: 1;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #3763eb;
    border-color: #3763eb;
    transition: .4s;
    z-index: -1;
   
    border-radius: 25px 25px 25px 25px;
   
}

body .btn-primary:hover::after{
    width: 100%;
}

body .btn-primarys{
    background: #3763eb !important;
    color: #fff;
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    transition: .4s;
}
body .btn-primarys:hover{
    background: #fff !important;
    color: #3763eb;
    border: 1px solid#3763eb;  
}

/* =============== Menu ========== */

ul.my-primary-menu{}
ul.my-primary-menu li{}
ul.my-primary-menu li a{
   display: inline-block;
   padding: 10px 15px;
   text-decoration: none;
   color: #111;
   font-weight: 500;
}
ul.my-primary-menu li a{
   position: relative;
}
ul.my-primary-menu li a::after{
   content: "";
   top: 143%;
   left: 15px;
   width: 0;
   height: 6%;
   background: rgb(39, 67, 224);
   position: absolute;
   transition: .5s;
}

ul.my-primary-menu li a:hover::after{
   width: 60%;
}
.hover-active{
   position: relative;
}
ul.my-primary-menu li a.hover-active::after{
   content: "";
   top: 143%;
   left: 15px;
   width: 60%;
   height: 6%;
   background: rgb(39, 67, 224);
   position: absolute;
}


/* =========== DropDown Menu =============== */

.main-header{
   background: #e0e0e0;
}
.header-logo img{
   width: 100px;
   height: auto;
}

ul.my-primary-menu li{
   position: relative;
}
ul.my-primary-menu li ul{
   position: absolute;
   left: 0;
   top: 170%;
   width: 250px;
   background: #fafafa;
   list-style: none;
   padding: 10px;
   opacity: 0;
   visibility: hidden;
   transition: all .4s ease-in-out;
   box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.1);
}
ul.my-primary-menu li:hover ul{
   opacity: 1;
   visibility: visible;
   top: 150%;
}
ul.my-primary-menu li ul li{
   flex-direction: column;
}
ul.my-primary-menu li ul li a{
   background: #3763eb;
   color: #fff;
   padding: 10px 80px;   
}
ul.my-primary-menu li ul li a::after{
   display: none;
}

.header-button{}

/* ========== Slider Section =========== */

.slider-content-wrep{
   height: 90vh;
   display: flex;
   align-items: center;
   position: relative;
}
.slider-content h6{
   color: #e83b3e;
}
.slider-content h1{
   font-size: 50px;
   font-weight: 600;
}
.slider-content p{
   color: #606074;
   font-weight: 500;
}
.slider-right img{
   width: 700px;
   height: 700px;
   border-radius: 50%;
   overflow: hidden;
   position: relative;
   top: -120px;
   left: 150px;
}


.top-erro{
   position: fixed;
   bottom: 0;
   right: 0;
}
.top-erro span{
   display: inline-block;
   background: #3763eb;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   margin-right: 30px;
   text-align: center;
   line-height: 60px;
}
.top-erro span i{
   color: #fff;
   font-size: 30px;
   
}

/*=========== SErvice Saction ================ */

.service-title span{
    color: #819df2;
    font-size: 18px;
}
.service-title h2{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
    position: relative;
}
.service-title h2::after{
    content: "";
    top: 110%;
    left: 0;
    width: 50px;
    height: 2px;
    background: #819df2;
    position: absolute;
}


/* =========== services-item =========== */

.services-item{
    background: #edf0f5;
    padding: 30px;
    border-radius: 5%;
}
.services-item h4{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500;
}
.services-item p{
    color: #a7a3b3;
}
.service-icon{
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border-radius: 90px 90px 90px 0;
    background: #3763eb;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
}
.service-icon::after{
    content: "";
    top: 127%;
    left: 0;
    width: 30px;
    height: 2px;
    background: #3763eb;
    position: absolute;
}

.bg-image{
    position: relative;
    z-index: 1;
}
.service-bakground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -40px;
    z-index: -1;
}
.service-bakground img{
    width: 100%;
}


.services-item:hover{
    background: #3763eb;
    border-radius: 5%;
    transition: .4s;
    border: transparent;
    transform: scaleY(1.04);
}
.services-item:hover{
    color: #fff;
    transition: .4s;
}
.services-item:hover .service-icon{
    background: #fff;
    color: #3763eb;
    transition: .4s;
}
.services-item:hover p{
    color: #fff;
    transition: .4s;
}


.services-item:hover .service-icon::after{
    background: #fff;
    width: 50px;
    transition: .4s;
}
/* ============= mid-banner-section =============== */

.mid-banner-section{
    background-image: url(img/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 !important;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
}
.mid-banner-content{
    
}
.mid-banner-play{
    background: #fff;
    color: #3763eb;
    display: inline-block;
    font-size: 18px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    position: relative;
}
.mid-banner-play::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background: transparent;
    border: 6px double rgb(150, 146, 146);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: animated 1.5s ease-in-out infinite;
}

@keyframes animated{
    0%{
        transform: scale(0);
        opacity: 0.9;
    }
    25%{
        transform: scale(1);
        opacity: .8;
    }
    50%{
        transform: scale(1.5);
        opacity: .5;
    }
    75%{
        transform: scale(2);
        opacity: .3;
    }
    100%{
        transform: scale(0);
        opacity: .5;
    }
}

/* ============ pricing-teble =========== */

.pricing-teble{
    background: #f6f9fc;
}
.pricing-titel span{
    color: #3763eb;
    font-size: 18px;
    text-transform: uppercase;
}
.pricing-titel h2{
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
}
.pricing-titel h2::after{
    content: "";
    position: absolute;
    top: 123%;
    left: 43%;
    width: 60px;
    height: 2px;
    background: #3763eb;
}
.pricing-titel p{
    color: #555557;
}

.pricing-box{
    background: #fff;
    text-align: center;
    padding: 50px 40px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}
.pricing-box hr{
    background: linear-gradient(45deg,#fff,#111,#fff);

}
.pricing-box h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
}
.pricing-box h1{
    font-weight: 500;
}
.pricing-box p{
    font-size: 16px;
    color: #837e7e;
}
.pricing-box ul{
    margin-left: 0;
    padding: 20px 0;
}
.pricing-box ul li{
    list-style: none;
    color: #606060;
    padding-top: 10px;
    margin-bottom: 10px;
}
.bricing-btn a.btn-primary{
    background: #3763eb;
    border-radius: 30px;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
}

/* ========= blog ========== */

.blog{
    background-image: url(img/free-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    position: relative;
    z-index: 2;
}
.blog::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #3763eb;
    width: 100%;
    height: 100%;
    opacity: .9;
    z-index: -2;
}
.blog-btn a.btn-primary{
    background: #fff;
    color: #3763eb;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 30px;
    border: transparent;
}
.blog-content span{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.blog-content h2{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    position: relative;
    margin-bottom: 50px;
}
.blog-content h2::after{
    content: "";
    top: 123%;
    left: 45%;
    position: absolute;
    width: 60px;
    height: 2px;
    background: #fff;
}
.blog-content p{
    color: #fff;
    margin-bottom: 30px;
}

/* ========== newsletter-section =========== */
.newsletter-section{
    background: #f4f7fa;
}
.left-newsletter{
    background: #3763eb;
}
.left-newsletter h5{
    color: #fff;
    font-size: 25px;
}
.left-newsletter p{
    color: #fff;
    font-size: 16px;
}
.left-newsletter .form-mail{
    height: 37px;
    width: 350px;
    display: inline;
    border-radius: 30px;
}
.left-newsletter button.form-btn{
    border-radius: 30px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 15px;
}

.newsletter-right{
    background: #fff;
}
.newsletter-content h5{
    font-size: 25px;
    font-weight: 500;
}
.newsletter-content p{
    font-size: 16px;
}
.newsletter-content a.right-form-btn{
    font-size: 16px;
    background: #3763eb;
    padding: 6px 15px;
    border-radius: 30px;
    color: #fff;
    transition: .5s;
}
.newsletter-content a.right-form-btn:hover{
    background: #ddd;
    color: #3763eb;
}
.client-content{
    
}
.client-content h4{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
    position: relative;
}
.client-content h4::after{
    content: "";
    position: absolute;
    top: 90%;
    left: 0%;
    width: 60px;
    height: 2px;
    background: #3763eb;
}
.client-content p{}
.client-content span{
    text-transform: uppercase;
    color: #708ff1;
}

.client-profile-img{
    height: 140px;
}
.client-profile-img img{
    height: 100%;
    width: 100%;
    opacity: .4;
    transition: .5s all;
}
.client-profile-img:hover img{
    opacity: 1;
}
.client-profile-img:hover{
    background: #f6f9fc;
}


